@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


body {
  background: #fafafa;//#262626;//
 //background: linear-gradient(to left, rgb(14, 165, 233), rgb(12, 138, 197));
// background-image: radial-gradient(circle farthest-corner at 50% 100%, #6456b7, #6f60cc);
  height: 100vh;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  padding-bottom: 300px;

}

.category-button{
 // color: #081e4a;
  color: rgb(64, 64, 64);
  //  background: rgb(238, 242, 249);
    margin: 10px 10px;
    padding: 14px 45px;
 //   font-weight: 500;
 border-radius: 7px;
}


.midjourney { 
    font-family: Montserrat,sans-serif; 
    font-family: Plus Jakarta Sans,sans-serif;
} 


svg { 
    display: block; 
    vertical-align: middle;
} 
